@import 'styles/color.scss';

.block {
  padding: 8px 16px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid transparent;
  color: $gray;
  cursor: pointer;
  transition: border 0.3s, color 0.3s;

  &:hover {
    border: 1px solid $gray;
    color: $orchid;
  }
}
