@import 'styles/color.scss';

.block {
  padding: 8px 16px 16px 0px;
  margin: 8px 0;
  border-radius: 4px;
  color: $gray-light;
  cursor: pointer;
  transition: border 0.3s, color 0.3s;
  display: block;
  text-decoration: none;

  &:hover {
    color: $black;
  }
}
