@import 'styles/color.scss';

.list {
  &__item {
    margin: 16px 0;
    font-size: 20px;
    line-height: 27px;
    background: $white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    cursor: pointer;

    a {
      display: inline-block;
      padding: 34px 36px;
      color: $black;
      text-decoration: none;
      width: 100%;
      border-radius: 6px;
      transition: background 0.2s, color 0.2s;

      &:hover {
        background: $rosa;
        color: $dark-rosa;
      }
    }
  }
}
