@import 'styles/reset.scss';
@import 'styles/color.scss';

*,
html {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans', sans-serif;
}

.main {
  position: relative;
  padding: 52px;
  background: $light-rosa;
  min-height: 100vh;
}
